<html>
    <head>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            body {text-align: center;}
            </style>
    </head>
    <body style="background-color:powderblue;">
        <form action="{{url_for('after')}}" enctype="multipart/form-data" method="POST">
            <input type="file" name="file1">
            
             <input type="submit"/>   
            </form>

    </body>
    
</html>

